.tabGenericComponent .ui.secondary.pointing.menu .active.item {
    border-bottom-color: #3498db;
    &:hover {
        border-bottom-color: #69abd6;
        color: #383838;
    }
}
.tabTextItem {
    margin: 0 auto;
    padding: 0.5em;
}
.tabItem{
    background-color: #383838;
}

.notificationTabTask {
    top: -2em !important;
    left: 4em !important;
    position: relative !important;
}