/* .slick-list {
    overflow: visible;
}

.slide {
    transition: 250ms all;
    padding: 0 2px;
    
    &:hover {
        margin: 0 40px;
        transform: scale(1.2);
    }
}

 */

 i.massive.icon, i.massive.icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 6em !important;
}