.page-not-found {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
  }

  p{
    position: absolute;
    z-index: 3;
    top: 90%;
    font-size: 30px;
    text-decoration: underline;

  }

  .brand {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: -60px;
    margin-top: 7%;

    img {
      width: 75%;
      padding: 0;

      @media screen and (max-width: 1000px) {
        width: 55%;
      }

      @media screen and (max-height: 600px) {
        width: 55%;
      }
    }

    @media screen and(max-width: 1000px) {
      right: -120px;
      margin-top: 12%;
    }

    @media screen and(max-height: 600px) {
      right: -120px;
      margin-top: 12%;
    }
  }
}