.importantDatesStyle {
    width: 33% !important;
    min-width: 33% !important;
    &.disable-tab:hover{
        cursor: not-allowed !important;
    }
}

.mainImportantDates {
    width: 50% !important;
}